.gitattributes !filter !diff

system/nixos/secrets/** filter=git-crypt diff=git-crypt
system/nixos/hosts/**/secrets.nix filter=git-crypt diff=git-crypt
system/darwin/secrets/** filter=git-crypt diff=git-crypt
system/darwin/hosts/**/secrets/nix filter=git-crypt diff=git-crypt
home/secrets/** filter=git-crypt diff=git-crypt
