$include /etc/inputrc

# vim bindings
# set editing-mode vi
# set keymap vi

set bell-style none
set expand-tilde off
set input-meta off
set convert-meta on
set output-meta off
set horizontal-scroll-mode off
set history-preserve-point on
set mark-directories on
set mark-symlinked-directories on
set match-hidden-files off

# completion settings
set page-completions off
set completion-ignore-case on
set completion-query-items 2000
set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-prefix-display-length 10
set print-completions-horizontally off

C-n: history-search-forward
C-p: history-search-backward

# new stuff
"\C-a": history-search-forward

# $include /etc/inputrc
# set bell-style none
# set completion-ignore-case on
# set completion-query-items 40
# set show-all-if-ambiguous on

# set visible-stats off
# set mark-directories on
# set mark-symlinked-directories on

# set editing-mode vi
# $if mode=vi
#     set keymap vi-command
#     Control-l: clear-screen
#
#     set keymap vi-insert
#     Control-l: clear-screen
# $endif
