# https://github.com/sandhose/nixconf/blob/055de30/.github/workflows/update.yaml
name: Update
on:
  # Manual triggering
  workflow_dispatch:

  # Every Sunday at 12:00
  schedule:
    - cron: "0 5 * * SUN"

jobs:
  flake-update:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Git author
        run: |
          git config user.name 'GitHub Actions'
          git config user.email 'noreply@github.com'

      - name: Update lock file
        run: nix flake update --no-registries --commit-lock-file

      - name: Get commit message
        id: commit
        run: |
          message="$(git log -1 --pretty=%B | tail +3 | awk -f ./.github/misc/flake-to-markdown.awk)"
          message="${message//'%'/'%25'}"
          message="${message//$'\n'/'%0A'}"
          message="${message//$'\r'/'%0D'}"
          echo "::set-output name=message::$message"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT }} # needed so that this triggers further flows. not ideal.
          title: "chore(flake): Automatic flake update"
          body: "${{ steps.commit.outputs.message }}"
          branch: "chore/flake-update"
          delete-branch: true
